.box{
  height: 100%;
  width: 100%;
  
}
.box{
  display: flex;
  justify-content: center;
  align-items:end;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}
.buttonContainer{
  /* height: 5%; */
  /* width:40%; */
  font-size: 20px;
  background-color: rgb(108, 108, 108);
  /* border: 1px solid black; */
  border-radius: 5px;
  margin-bottom: 30px;
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  
}
.button{
  height: 50px;
  width: 50px;
  
  
}